.banner {
    
    background: #171A29;
    border-radius: 20px;
    padding: 20px 30px;
    height: 250px;
    grid-area: text-banner;
    /*width: 37%;*/
    display: inline;
}

.banner h1 {

    color: #FFFFFF;

}

.banner h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    
    color: #FFFFFF;

}