.addForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
}

.addForm form div{
    width: 100%;
}

.addForm form input{
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border-width: 1pt;
    border-color: #171A29;
    width: 77%;
}

.addForm form textarea{
    padding: 10px 20px;
    margin-bottom: 15px;
    min-height: 100px;
    border-radius: 5px;
    border-width: 1pt;
    border-color: #171A29;
    width: 75%;
}

.addForm form select{
    padding: 10px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border-width: 1pt;
    border-color: #171A29;
    width: 85%;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 100;
    height: 100vh;
    width: 100vw;

}

.addForm {
    display: flex;
    justify-content: center;
    background-color: #FBFCFF;
    overflow-y: scroll;
}